/**Reset**/

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body,
ul,
ol,
figure,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
    font-size: inherit !important;
}

body {
    width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
    font-size: 1.6rem;
}

input {
    font-size: inherit;
}

img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn,
.navbar-brand {
    font-size: 2rem !important;
}


/*Theme */

section {
    padding: 15px;
}

header {
    text-align: center;
    padding: 12px;
}

header h1 {
    text-align: center;
    margin: 2rem;
}

header button {
    width: 100%!important;
}

.card {
    width: 100%;
}

.card .card-content p {
    margin: 1.5rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3)
}

#car-list li {
    margin: 2rem 0;
    width: 100%;
    line-height: 2rem !important;
}

@media screen and (min-width:550px) {
    .card {
        max-width: 400px;
    }
    header button {
        width: initial!important;
    }
}